.linkDeco{
text-decoration: none;
color: rgba(0, 0, 0, 0.884);
}

.linkDeco:hover{
    color: rgb(116, 116, 116);
}

.Menu{
    padding-left: 1vh;
}

.btn-sair {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .btn-sair:hover {
    background-color: darkred;
  }
  